html {
    box-sizing: border-box;
    font-size: 100%;
    background-color: black;
    color: white;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    height: 80vh;
}

.gm-style-iw-d {
    color: black;
}